@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit";
  text-decoration: none;
}
