.header-container {
  width: 100vw;
  height: 80px;
  padding: 0 111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232323;
  z-index: 3;
  .burger {
    display: none;
    position: relative;

    z-index: 111221111;

    -webkit-user-select: none;
    user-select: none;
  }
  .burger span {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 6px;
    position: relative;

    background: #ffffff;
    border-radius: 1px;

    z-index: 1;
  }

  .navlink {
    color: white;
    font-weight: 500;
    &.logolink {
      font-weight: 600;
    }
  }
  .nav-right {
    display: flex;
    gap: 65px;
  }
}
@media (max-width: 800px) {
  .header-container {
    padding:0 10vw;
    .burger {
      display: block;
    }
    .nav-right{display: none;}
  }
}
