.header-container {
  width: 100vw;
  height: 80px;
  padding: 0 111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #232323;    
  z-index: 3;
  .navlink {
    color: white;
    font-weight: 500;
    &.logolink {
      font-weight: 600;
    }
  }
  .nav-right {
    display: flex;
    gap: 65px;
  }
}
