.page-container {
  position: relative;
  background-color: #111111;
  //   min-height: 100vh;
  z-index: 1;
  .page-image-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    z-index: -1;
  }
  .page-image-2 {
    position: absolute;
    bottom: 0px;
    right: -400px;
    width: 600px;
  }
}
@media (max-width: 800px) {
  .page-container .page-image-1 {
    width: 40vw;
  }
  .page-container .page-image-2 {
    width: 30vw;
  }
}
